.abcd{
   padding-left: 15%; 
}
.tp{
    text-align: center;
    font-size: 2rem;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.title{
    margin-left: 200px;
}
.ag{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.anz h1{
    font-size: 2.5rem;
    padding:20px,20px
}
.cbl{
    padding-top: 1px;
    padding-bottom: 58px;
}
.an{
    margin-left: 20px;
}
.rs{
    margin-left: 300px;
    width: 30rem;
    height: 40rem;
    padding-right: 200px;
   
}
.rs1{
    margin-left: 300px;
    width: 30rem;
    height: 40rem;
    padding-right: 200px;
    

}
.rs h1{
    font-size: 1.5rem;
    padding: 10px 10px;
}
.rs h3{
    font-size: 1.2rem;
    color: darkgray;
}
.rs span{
   align-self: 1.5rem;
   color: darkgray;
   padding-left: 400px;
}
.rs h2{
    font-size: 1.2rem;
    color: rgb(107,114,128);
}
.rs1 h1{
    font-size: 1.5rem;
    padding: 10px 10px;

}
.rs1 h3{
    font-size: 1.2rem;
    color: darkgray;
}
.rs1 h2{
    color: rgb(107,114,128);
    font-size: 1.2rem;
}
.rs1 span{
    align-self: 1.5rem;
    color: darkgray;
    padding-left: 300px;
}
.an img{
    width: 100px;
    margin: auto;
}
.tle h2{
    font-size: 1.5rem;
    color: rgb(107,114,128);
    padding: 20px 20px;
    margin: 20px 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.km{
    background-color: rgb(100 99 99);
    color: white;
}
.arz{
    width: 60rem;
    margin: auto;
    background-color: rgb(254,255,255);
    padding-top: 30px;
    margin-bottom: 60px;
    padding-bottom: 20px;
}


.sprt{
    text-align: center;
    font-size: 2rem;
    padding-bottom: 20px;
    padding-top: 40px;
}
.hhh{
    text-align: center;
    font-size: .955rem;
    color: rgb(107, 109, 108);
}
.lmi{
    padding-right: 80px;
}
.lmi.btn{
    padding: 10px 15px;
}
.lmo{
    padding-left: 80px;
}
.lmo .btn{
    padding: 10px 15px;
}
.last{
    background-color: white;
}
.thelast{
    padding-bottom: 80px;
}
.final{
    margin: 0px 400px;
    margin-bottom: 100px;
}
.final h1{
    font-size: .99rem;
}
.final p{
    font-size: .90rem;
    color: rgb(75,85,99);
}
.twit{
    display: inline;
    width: 3.5rem;
    padding-left: 1.5rem;
}
.fb{
    display: inline;
    width: 3.5rem;
    padding-left: 1.5rem;
}
.gth{
    display: inline;
    width: 3.5rem;
    padding-left: 1.5rem;
}
.disc{
    display: inline;
    width: 3.5rem;
    padding-left: 1.5rem;
}
.wm{
    font-size: .75rem;
    color: rgb(4, 73, 64);
    margin-top: 40px;
    margin-bottom: 40px;
}

