.kkk{
    padding-left: 15%;
}
.one h1{
    text-align: center;
    padding-top: 110px;
    font-size: 3.75rem;
    line-height: 1;
    font-family: Inter,Helvetica neue,Helvetica,Arial,sans-serif;
    letter-spacing: -.05rem;
    font-weight: 500;

}
.one span{
    color:rgb(169 121 43);
}
.two h1{
    text-align: center;
    font-size: 3.75rem;
    line-height: 1;
    font-family:Inter,Helvetica neue,Helvetica,Arial,sans-serif; 
    letter-spacing: -.05em;
    font-weight: 500;
} 
.three h1{
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: rgb(27,25,27);
}
.six h1{
    text-align: center;
    font-size: 2.35rem;
    line-height: 1.75rem;
}
.title{
    padding-left: 350px;
}
/* .row.ten h6{ 
    font-size: 1.3rem;
    height: 15rem;
    font-family:Inter,Helvetica neue,Helvetica,Arial,sans-serif;
    color: rgb(117,117,117);
    text-align: center;
    margin-top: 40px;
}
.ten h4{
    padding-top: 50px;
}
.eight h1{
    color: rgb(31,41,55);
    text-align: center;
    font-size: 1.8rem;
    font-family: Inter,Helvetica neue,Helvetica,Arial,sans-serif;
}
.imm{
    width: 15rem;
    height: 15rem;
    margin: auto;
    background-color: white;
    transition: .5s;
}
.imm img{
    width: 70%;
    margin: 15px 0px;

}
.imm:hover{

}
 
    

   
    